.line-block{
	float: left;
	font-size: 14px;
	overflow: hidden;
}

.line-block a{
	font-size: 14px;
	color: #733d25;
	text-decoration: none;
}

.line-block a:hover{
	text-decoration: none;
}

.line-block ul{
	margin:17px;
}

.line-block ul li{
	line-height: 16px;
	overflow: hidden;
	margin-top: 10px;
}

.line-block ul li a{
	font-size: 17px;
	color: #000000;
}

.line-block ul li a:hover{
	color: #733d25;
}

.title{
	float: left;
	width: 550px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.date{
	float: right;
	font-size: 16px;
	line-height: 16px;
}


.Calendar {
    font-family:Verdana;
    font-size:12px;
    background-color:#e0ecf9;
    text-align:center;
    width:225px;
    height:160px;
    padding:10px;
    line-height:1.5em;
    /*margin-left: 40px;*/
}
.Calendar a{
    color:#1e5494;
}

.Calendar table{
	width:100%;
	border:0;
}

.Calendar table thead{color:#acacac;}

.Calendar table td {
    font-size: 11px;
    padding:1px;
}
#idCalendarPre{
    cursor:pointer;
    float:left;
    padding-right:5px;
}
#idCalendarNext{
    cursor:pointer;
    float:right;
    padding-right:5px;
}
#idCalendar td.onToday {
    font-weight:bold;
    color:#C60;
}
#idCalendar td.onSelect {
    font-weight:bold;
}

.order{
	margin-top: 20px;
	margin-left: -40px;
}

/*.qiandaos{*/
	/*height: 35px;*/
	/*width: 100px;*/
	/*border: 0px solid blue;*/
	/*background-color: #D4D4D4;*/
	/*color: red;*/
	/*!*margin-left: 700px;*!*/
	/*!*box-shadow:2px;*!*/
/*}*/
/*.qiandaos:hover{*/
	/*background-color: gold;*/
/*}*/