<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/unit.css">
<link rel="stylesheet" type="text/css" href="../static/css/style-admin-vocationmanage.css">
<script type="text/javascript" src="../static/js/unit.js">
</script>


<title>优face科技有限公司</title>
</head>
<body onload="startTime()">
    <div class="head">
        <h2>优face科技有限公司</h2>
        {% if login_user %}
        <div class="head-right">
            <span class="head-help">
            <a href="{{ url_for('user_logout') }}">注销</a>
            <a href="#">帮助</a>
            </span>
            <div id="head-time"></div>
         </div>
            {% else %}
            <div class="head-right">
            <span class="head-help">
            <a href="{{ url_for('user_login') }}">登录</a>
            <a href="{{ url_for('user_uregister') }}">注册</a>
            <a href="#">帮助</a>
            </span>
            <div id="head-time"></div>
         </div>
        {% endif %}
    </div>
    <div id="navigation">
      <nav role="navigation">
      <ul>
        <a href="{{ url_for('main_personal') }}"><li>首页</li></a>
        <a href="{{ url_for("personal_main") }}"><li>个人信息</li></a>
        <a href="{{ url_for('personal_check') }}"><li>考勤记录</li></a>
        <a href="{{ url_for('personal_vocationmange') }}"><li class="li-active">请假管理</li></a>
        <button style="padding:0 10px; margin:10px 60px 0 0; float:right;">签到</button>
      </ul>
    </nav>
    </div>
    <div class="left-list">
      <a href="{{ url_for('personal_vocationmange') }}"><div class="ll-active">申请日志</div></a>
      <a href="{{ url_for('pv_apply') }}"><div class="left-child">申请</div></a>
    </div>
    <div class="right">
        <span class="title-bar">请假管理<i class="fa fa-angle-right" style="letter-spacing:2px;"></i>申请日志</span>
        <table class="table table-striped" style="margin-left:40px; width:92%;margin-top:20px;">
               <thead>
                  <tr>
                     <th>申请人</th>
                     <th>状态</th>
                     <th>开始时间</th>
                     <th>结束时间</th>
                     <th>申请时间</th>
                     <th>操作</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>处理中</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>已处理</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>已处理</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>已处理</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>已处理</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>已处理</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
               <tbody>
                  <tr>
                     <td><input type="checkbox" name="checkbox">李华</td>
                     <td>已处理</td>
                     <td>2015/8/10</td>
                     <td>2015/8/12</td>
                     <td>2015/8/9 14:00</td>
                     <td><a href="pv-detail.html">查看</a>|<a href="#">删除</a></td>
                  </tr>
               </tbody>
            </table>
            <div class="clear"></div>
            <div class="action">
              <input type="checkbox" name="checkbox"><a href="#">全选</a>
              <button>删除</button>
            </div>
            <div class="pagination-self">
                <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li class=""><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div> 
    </div>
</body>